<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Telemarker Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <i><h1>Telemarketing Machine Learning</h1></i>
        <i><h1> Dashboard </h1></i>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT Customer ID:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Customer Information</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
     <div class="container">
      <h2>Table</h2>
        <div class="table-responsive">
        <table class="table">
          <thead>
              <tr>
                <th class="table-head">Gender</th>
                <th class="table-head">Senior Citizen</th>
                <th class="table-head">Partner</th>
                <th class="table-head">Dependence</th>
                <th class="table-head">Phone Service</th>
                <th class="table-head">Multiple Lines</th>
                <th class="table-head">Online Security</th>
                <th class="table-head">Online Backup</th>
                <th class="table-head">Device Protection</th>
                <th class="table-head">Tech Support</th>
                <th class="table-head">Streaming TV</th>
                <th class="table-head">Streaming Movies</th>
                <th class="table-head">Paperless Bill</th>
                <th class="table-head">Internet Service [DSL]</th>
                <th class="table-head">Internet Service [Fiber Optic]</th>
                <th class="table-head">Internet Service [No]</th>
                <th class="table-head">Contract [Month to Month]</th>
                <th class="table-head">Contract [one year]</th>
                <th class="table-head">Contract [ two year]</th>
                <th class="table-head">Payment Method [Bank Transfer-Automatic]</th>
                <th class="table-head">Payment Method [Credict Card-Automatic]</th>
                <th class="table-head">Payment Method [Electronic Check]</th>
                <th class="table-head">Payment Method [Mailed Check]</th>
                
              </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Churn Percentage</h3>
            </div>
            <div id="churn" class="panel-body">
              
            </div>
          </div>
        </div>
        
      </div>
     
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

  
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/styles.css') }}"></script>
  <script src="{{ url_for('static', filename='js/data.js') }}"></script>
  <script type="text/javascript" src="static/js/app.js"></script>

  
</body>

</html>